/* CONTACT US */

.card__contact {
    background-color: white;
    margin: 50px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;   
    color: gray;
    font-family: 'Cormorant', serif;
    border-radius: 5px;
    padding: 30px;
    margin-top: 40px;
    margin-bottom: 100px;

    .form-floating  {
        margin: 10px;
        color: gray;

        .textarea__size {
            height: 270px;
        }

        .btn {
            margin: 20px;
        
        }
        
        .btn-primary {
            background-color: $principal__color;
            border-color: $principal__color;
        }
    }
    .contact__message {
        background-color: rgba(255, 255, 255, 0.733);
        color: grey;
        font-weight: lighter;
        margin: 10px;
        font-size: x-large;
        padding: 0px;
    }
}

/* FIN CONTACT US */