
/* IMPORT */

@import "mixins";
@import "extend.scss";


/* FIN IMPORT */

/* FILMS */

.pages__body {
    background-image: url("../css/img/bacground3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}


.aumentar {
    a {
        h1 {
            background-color: rgba(255, 255, 255, 0.466);
            border-radius: 8px;
            padding: 2px
        }
    }
}

.films__container {
    @include center ();
    flex-wrap: wrap;

    .card__films {
        @include center ();
        flex-wrap: wrap;
        background-color: white;
        padding: 20px;
        margin: 15px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;   
        border-radius: 5px;
        padding-bottom: 0px;

    }

    .trailers {
        transition: transform 0.2s ease-in;

        &:hover {
            transform: scale(1.005);
        }

        .btn {
            background-color: rgba(255, 255, 255, 0.603);
            border: 0;
            position: relative;
            bottom: 50px;
            color: rgb(80, 76, 76);
            transition: transform 0.2s ease-in;
            
            &:hover {
                transform: scale(1.05);
            }
          
        }
        
    }
}

.films__topButton {
   display: none;
  }
  

/* FIN FILMS */