/* IMPORT */

@import "mixins";

/* FIN IMPORT */

/* FOUNDERS */

.pages__body {
    background-image: url("../css/img/bacground3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.ghibli__info {
    display: flex;
    justify-content: center;
    margin: 50px;
    margin-bottom: 0px;
    color: gray;
    font-weight: lighter;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.664);
    padding: 30px;
    border-radius: 5px;
}

.founders__container {
    @include center ();
    flex-wrap: wrap;

    .card {
        margin: 3rem;
        font-family: 'Cormorant', serif;
        background-color: white;

        .card-title {
            font-size: 35px;
        }

        .card-text {
            font-size: 25px;
        }
    }

}

/* FIN FOUNDERS */