 /* MEDIA QUERIES  */

/********* MOBILE 480 **********/

@media screen and (max-width: 480px) {

    .pages__body {
        background-image: url("../css/img/bacground3.jpg");
        background-repeat: repeat;
        background-size: contain; }

    /* HEADER */

    .menu__container {
        display: flex;

        img {
            width: 120px;
            height: 100px;
        }

        .menu__inicio {
            display: none;

            a {
                background-color: rgba(141, 141, 141, 0.404);
                border-radius: 8px;

                h1 {
                    background-color: rgba(141, 141, 141, 0.404);
                    border-radius: 8px;
                }
            }
        }
    }

    /* FIN HEADER */

    /* INDEX */

    video {
        width: 100%;
    }
    
    .capa {
        width: 100%;
    }

    .principal__container {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(3, 0.5fr);
        place-items: center;
        margin-bottom: 100px;

        h1 {
            font-size: 90px;
        }

        .button__container {
            display: flex;
            flex-direction: row;
            justify-content: center;
            text-align: center;

            .button__icon {
                width: 90px;
                height: 90px;
            }
        }

        .welcome__message{
            padding: 40px;
            font-size: 25px;
            margin-left: 20px;
            margin-right: 20px;
            margin-bottom: 0;
        }
    }

    /* FIN INDEX */

    /* MEDIA */

    .card__media {
        grid-template-columns: repeat(2, 1fr);
        margin: 20px;
        margin-bottom: 50px;
        margin-top: 30px;
        width: 93%;

            .img__media {
                padding: 5px;
                width: 100%;
            }  
    }

    /* FIN MEDIA */

    /* CONTACT US */

    .card__contact {
        margin: 20px;
        padding: 20px;
        margin-top: 30px;
        margin-bottom: 30px;

    }

    /* FIN CONTACT US */

    /* FOUNDERS */

    .ghibli__info {
        margin: 10px;
        border-radius: 5px;
        font-size: 22px;
    }

    .founders__container {
        .card {
            margin: 10px;
            margin: 10px;
            text-align: center;

            .card-text {
            font-size: 22px;
            text-align: justify;
            }
        }
    }
    
    /* FIN FOUNDERS */

    /* SOUNDTRACKS */
    .card {
        border-radius: 5px;
        margin: 20px;
        margin-right: 30px;
        padding: 20px;
    }

    /* FIN SOUNDTRACKS */

    /* FILMS */ 

    .films__ul {
        margin: 0;
        padding: 0;

        .card__films {
            padding: 20px;

            .título__films {
                font-size: 25px;
            }
        }
    }

    /* FIN FILMS */ 

    /* FOOTER */

    .footer__fixed {
        margin-top: 830px;
        margin-bottom: 0;
    }

    footer {
        position: none;
        padding: 30px;
        margin-top: 200px;
        padding-left: 10px;
        padding-right: 10px;

        span {
            font-size: 13px ;
            margin: 0;
        }

        .redes {
            padding-left: 10px;
            padding-right: 10px;

            .fa-brands {
                font-size: 28px;
            }
        }

    }

    /* FIN FOOTER */

}

/********* FIN MOBILE 480 **********/
 /* FIN MEDIA QUERIES */