/* IMPORT */

@import "extend.scss";

/* FIN IMPORT */

/* MEDIA */

.card__media {
    margin: 50px;

    .img__media {
        padding: 30px;
        display:flex;
        justify-content: center;
    }
}

/* FIN MEDIA */