/* IMPORT */

@import "extend.scss";

/* FIN IMPORT */

/* MEDIA */

.card__media {
    margin: 50px;
    border-radius: 5px;
    
        .img__media {
            display:flex;
            justify-content: center;
            width: 100%;
        }
}

/* FIN MEDIA */