/* SOUNDTRACKS */
.soundtracks__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 15px;

    .card {
        display: flex;
        background-color: white;
        align-items: center;
        justify-content: center;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        margin: 50px;
      
    }
}

/* FIN SOUNDTRACKS */