/* RESET CSS*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*{
    text-decoration: none;
    list-style-type: none;
}


/* FIN RESET CSS */

/* VAR */

$principal__color: #1F5A35;

/* FIN VAR */

/* IMPORT */

@import "header.scss";
@import "index.scss";
@import "soundtracks.scss";
@import "films.scss";
@import "footer.scss";
@import "media.scss";
@import "contact-us.scss";
@import "founders.scss";
@import "media-queries.scss";
@import "extend.scss";



/* MIXIN */

@import "mixins";

/* MIXIN */

/* FIN IMPORT */
    
    .contact__body {
            background-image: url("../css/img/background2.jpg");
            background-repeat: repeat;
            background-size: cover;  
    }

    .pages__body {
            background-image: url("../css/img/bacground3.jpg");
            background-repeat: repeat;
            background-size: contain;
    }